*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.main{
    height: 100%;
    display: grid;
    place-items: center;
}
.openModalButton{
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(4, 64, 88);
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
.modal{
    background-color: rgb(137, 135, 133);
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    display: grid;
    place-items: center;
}

.modal_content{
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
}

.modal_buttons{
    text-align: center;
    margin-top: 1rem;
}

.close{
    display: none;
}

.close_modal{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}